/* .card-facility {
   font-size: 10;
   font-weight: bold;
   transition: ease-in 0.5s;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: rgb(229, 226, 226);
   border-color: rgb(229, 226, 226);;
}

.card-facility:hover{
   transition: ease-in 0.5s;
   background-color: rgb(181, 125, 233);
   color: white
} */

