.card-search-hotel {
   border-radius: 10px;
   box-shadow: 0 5px 10px #aeaeae;
   background-color: white;
   transition: ease-in 0.2s;
   border-color: white;
}

.card-search-hotel:hover {
   border-radius: 10px;
   box-shadow: 0 5px 10px #aeaeae;
   border-color: rgb(202, 202, 202);
   background-color: rgb(202, 202, 202);
   transform: scale(1.05);
   transition: ease-in 0.2s;
}